.margin-padding-zero{
    margin: 0px;
    padding: 0px;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: black
}
.article-title, p, 
.article-main-image,
.top-text-section,
.text-section,
.footer-main {
    margin: 0 auto;
}
hr {
    border-top: 1px
}